/* CSS General */

html {
    box-sizing:border-box;
    -ms-overflow-style:scrollbar
}

*,:after,
:before {
    box-sizing:inherit
}

.container {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

@media (min-width:576px){

    .container {
        max-width:540px
    }
    }
    
    @media (min-width:768px){
    
    .container {
        max-width:720px
    }
    }
    
    @media (min-width:992px){
        
    .container {
        max-width:960px
    }
    }
    
    @media (min-width:1200px){
        
    .container {
        max-width:1140px
    }
    }
    
.page-section div {
        margin-bottom:1.2rem
}
    
.page-section .section-subtitle {
    color:#599c2a;
    font-size:30px;
    font-weight:600;
    text-align: center;
}
    
.page-section .section-title {
    color:#3d3e3f
}
    
.page-section .section-desc {
    font-size:14px;
    line-height:24px
}
    
.column-text {
    padding-right:40px
}

@media (max-width:767.98px){

    /* End CSS General */


/* Header Back Button */

.label {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
  }
  
  .label:hover {
    color: black;
    background-color: rgb(255, 255, 255);
  }


/* End Back Button */

/* NavMenu & Logo */

.header-logo {display:block;
    margin:auto;
    width:120px;
    height:92px;
    transition:all .6s ease
}

nav {
    height:45px!important
}

.nav-menu ul {
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(173,216,230)!important;
    padding:50px 30px;
    border-bottom-left-radius:.2em;
    border-bottom-right-radius:.2em;
    position:fixed;
    width:100%;
    height:100%;
    text-align:center;
}

.nav-menu ul li a {
    display:inline-block;
    color:#fff!important;
    font-weight:700;
    font-size:24px!important;
}

.banner-content-title {
    font-size:36px!important
}
}

@media (max-width:575.98px){
    
.banner-content-title {
    font-size:105%!important;
    font-weight:700
}
}

@media (max-width:991.98px){
    
.container-xs-md {
    margin:auto!important;
    width:97%!important;
    max-width:968px!important
}

.landscape-mode {
    flex-basis:100%!important;
    max-width:100%!important
}
}

@media (min-width:992px){
    
.contact-col {
    max-width:640px!important
}
}

@media screen and (orientation:landscape) 
and (min-device-width:425px) 
and (max-device-width:980px) {
    
.landscape-mode {
    flex-basis:100%!important;
    max-width:100%!important
}
}

.button-wrapper {
    float:left
}

@-webkit-keyframes spin {
    0% {
        transform:rotate(0deg)
    }
    to {
        transform:rotate(359deg)
    }
}

@keyframes spin {
    0% {
        transform:rotate(0deg)
    }
    to {
        transform:rotate(359deg)
    }
}



/* Header */
header {
    position:fixed;
    top:-5px;
    left:0;
    z-index:100;
    width:100%;
    padding-top:40px;
    transition:padding-top .5s ease-out;
    background-color: 1s ease-in;
}

header nav {
    height:90px
}

header nav button {
    outline:none!important
}


/* Banner */
.banner {
    background-image:url(../img/home1_sl2.jpg);
    background-size:cover;
    height:500px;
    padding:0!important
}

.banner .banner-overlay {
    height:500px;
    width:100%;
    background-color:rgba(1,2,14,.397)
}

.banner .banner-overlay 
.banner-content-title {
    color:#fff;
    font-size:48px
}

.banner .banner-overlay 
.banner-content-desc {
    color:#fff;
    margin-top:15px;
    margin-bottom:50px;
    width:40%;
    text-align:center
}

.banner-contact-section {
    margin-top:-2rem!important
}

.banner-contact-section 
.green-contact-box,
.banner-contact-section 
.white-contact-box {
    padding:20px 15px 15px
}

.banner-contact-section 
.green-contact-box 
.contact-icon,
.banner-contact-section 
.white-contact-box 
.contact-icon {
    border-radius:50%;
    border:1px dashed green;
    color:#599c2a;
    margin-right:10px;
    margin-left:30px;
    font-size:1.2rem;
    height:48px;
    width:48px;
    text-align:center;
    line-height:44px
}

 
